<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Chat</title>
    <link rel="stylesheet" href="/css/newChat.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <h3>Create New Message</h3>
      <form method="POST" action="/chats">
        <input type="text" placeholder="Your name" name="from" required />
        <textarea
          name="msg"
          placeholder="Write your message here..."
          required></textarea>
        <input type="text" placeholder="Recipient's name" name="to" required />
        <button type="submit">
          <i class="fas fa-paper-plane"></i> Send Message
        </button>
      </form>
    </div>
  </body>
</html>
